:root {
  --colorPrincipal: ;
  --colorSecundario: ;
  --blanco: #fff;
  --negro: #000;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.contenedor-md {
  width: min(95%, 80rem);
  margin: 0 auto;
}

.contenedor-sm {
  width: min(95%, 60rem);
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 3.4rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2.6rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 3.2rem;
  }
}

h4 {
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  h4 {
    font-size: 2.4rem;
  }
}

p {
  font-size: 1.8rem;
}

@media (min-width: 480px) {
  p {
    font-size: 2rem;
  }
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: #fff;
  font-weight: 700;
}

.bg-green {
  background-color: #018b01;
  width: 30%;
  margin: 5rem auto;
  transition: all .3s ease;
}

.bg-green:hover{
  background-color: #086b08;

}

.text-center {
  text-align: center;
}
