<section class="contenedor mt-5">
  <p>
    Si quieres que tu negocio/servicio aparezca aqui, haz click en el siguiente
    enlace para más información.
  </p>

  <a
    href="/contacto"
    class="btn btn-contacto"
    ><img
      src="/img/phone.svg"
      alt="Imageb de telefono"
    />Contacto</a
  >
</section>

<style>
  .btn-contacto {
    background-color: rgb(26, 26, 252);
    transition: all 0.3s ease;
    border-radius: 1.5rem;
    width: 100%;
    margin: 5rem auto;
  }

  @media (min-width: 768px) {
    .btn-contacto {
      width: 30%;
    }
  }

  .btn-contacto:hover {
    background-color: rgb(10, 10, 178);
  }
</style>
